<div class="top layui-header">
	<div class="weui-cell">
            <div class="weui-cell__bd">
              <p>Emp-Admin<i class="fa fa-bars"></i></p>
            </div>
            <div class="weui-cell__ft layui-nav">
            	<li class="layui-nav-item">
			        <a href="javascript:;">
			          <img src="../../../favicon.ico" class="layui-nav-img">
			                    贤心
			        </a>
			        <dl class="layui-nav-child">
			          <dd><a href="javascript:;"><i class="layui-icon">&#xe612;</i>用户质料</a></dd>
			          <dd><a href="javascript:;"><i class="icon iconfont icon-shezhi"></i>个人设置</a></dd>
			          <dd>
			          	<a href="javascript:;">
			          		<i class="icon iconfont icon-xiaoxi"></i>消息
			          	</a>
			          </dd>
			          <dd>
			          	<a href="javascript:;" (click)='logout()'>
			          	<i class="icon iconfont icon-icon"></i>退出
			          	</a>
			          </dd>
			        </dl>
			    </li>
            </div>
  </div>
</div>
<div style="height: 60px;"></div>